#root {
  font-family: "Sofia Sans", sans-serif;
}
body {
  margin: 0;
  background-color: #d9d0b4;
}
table input {
  border: 2px solid #666b5e;
  margin: 0;
  font-size: 20px;
  text-align: center;
  height: 50px;
  width: 50px;
  color: black;
  font-weight: bold;
}
.initalCell {
  background-color: #879e82;
  pointer-events: none;
  color: white;
}
.game {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #879e82;
  padding: 30px;
  border: 2px solid #666b5e;
}
.checkBtn {
  height: 10%;
  width: 40%;
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid#666b5e;
  font-family: "Sofia Sans", sans-serif;
}
.done {
  text-decoration: line-through;
}
.overlay {
  z-index: 2;
  position: absolute;
}
.picker {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.popUp {
  /*#d9d0b4, #879e82*/
  background-color: #879e82;
  border: 2px solid #666b5e;
  width: 60%;
  height: 80%;
  margin-left: 20%;
  /* padding-top: 2%; */
}
.mainContainer {
  position: relative;
  height: calc(100vh - 16px - 50px);
  padding-top: 50px;
}
body {
  overflow: hidden;
}
.blur {
  filter: blur(5px);
}
.show {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.card {
  height: 90%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.togglePoint {
  cursor: pointer;
}
.giftIcon {
  font-size: 80px;
  color: darkred;
  position: relative;
}
.cardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60%;
}
.achievementCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
}
.achievementIcon {
  font-size: 70px;
  color: black;
  margin-bottom: 5%;
}
.doneBtn {
  background-color: white;
  padding: 10px;
  margin: 3%;
  border: 2px solid #666b5e;
  border-radius: 10px;
}
.toolbar {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 30%;
  z-index: 0;
}
.toolbarBtn {
  font-size: 50px;
  margin: 50px;
  display: flex;
  align-items: center;
  border: 2px #666b5e solid;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  background-color: #879e82;
}
.toolbarName {
  font-size: 20px;
  padding-left: 20px;
}
.inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.inventoryItem {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d9d0b4;
  border-radius: 5%;
  border: 2px dotted #666b5e;
  cursor: pointer;
}
.inventoryItemWrapper {
  display: grid;
  row-gap: 5%;
  column-gap: 5%;
  grid-template-rows: repeat(4, 40%);
  height: inherit;
  width: inherit;
  overflow: scroll;
}
.noPointer {
  pointer-events: none;
}
.navigationBar {
  display: flex;
  align-items: center;
  width: 100%;
}
.backBtn {
  font-size: 25px;
  transform: rotate(-90deg);
  padding: 4%;
  cursor: pointer;
}
.noToggle {
  opacity: 0.3;
}
.itemDetails {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4%;
}
.detailImg {
  max-width: 40%;
  height: auto;
  border: 2px solid #666b5e;
  border-radius: 2%;
}
.itemDetails h2 {
  margin: 0;
}
.details {
  padding: 5%;
  overflow: scroll;
}
.description {
  padding-right: 5%;
  text-align: justify;
}
.header h2 {
  margin-bottom: 0;
}
.sidebar li {
  padding-bottom: 3%;
}
