table input {
  border: 2px solid black;
  margin: 0;
  font-size: 20px;
  text-align: center;
  height: 50px;
  width: 50px;
}
.initalCell {
  background-color: blanchedalmond;
  pointer-events: none;
}
.main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.checkBtn {
  height: 10%;
  width: 40%;
  font-size: 20px;
  border-radius: 10px;
  background-color: blanchedalmond;
}
